.heroSectionImgWrap {
  position: relative;
}

.heroSectionBaseImg {
  width: 100%;
}

.heroSectionImg1Wrap {
  position: absolute;
  width: 87.3%;
  top: 6.8%;
  right: 0%;
}

.heroSectionImg2Wrap {
  position: absolute;
  width: 36.5%;
  top: 3.3%;
  left: 4.5%;
}

.heroSectionImgInnerWrap {
  position: relative;
}

.heroSectionImg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.heroSectionImg.active {
  opacity: 1;
}

.heroSectionImg2.rotation1 {
  transform: rotate(-9.18deg);
}

.heroSectionImg2.rotation2 {
  transform: rotate(7.02deg);
}
